
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
// $fa-font-path: "/bower_components/font-awesome/fonts/";
// @import "fontawesome/scss/font-awesome";
@import "compass";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




$placeholder-color: #ddd;

::-webkit-input-placeholder { /* WebKit browsers */
    color: $placeholder-color !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholder-color;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholder-color;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $placeholder-color;
}

// $head-color: #FF6666;
// $head-color: #E85C4C;
// $head-color: #c3c3c3;
$sf-red: #ac3627;
$lighten-0: lighten($sf-red, 5%);
$lighten-1: lighten($sf-red, 10%);
$lighten-2: lighten($sf-red, 15%);
$lighten-3: lighten($sf-red, 23%);
// $lighten-4: lighten($sf-red, 25%);
// $grad-1: linear-gradient(color-stops($lighten-2, $lighten-0), left);
// $grad-2: linear-gradient(color-stops($lighten-3, $lighten-1), left);
// $grad-3: linear-gradient(color-stops($lighten-4, $lighten-2), left);
// $grad-1: @include background-image(linear-gradient( left, $lighten-2, $lighten-0));

// .btn-full {
//     width: 100%;
// }

.auth-panel, .profile-panel{
    width: 500px;
    margin-top: 50px;

    @media(max-width:767px){
        margin-top: 273px;
    }
}
.home-panel {
    width: 560px;
    ul, li { list-style-type: circle; }
    * { line-height: 150%; }
    .bookmarklet {
        // display: block;
        // margin: auto;
        // text-align: center;

        // color: white;
        // background: $sf-red;
        // padding: 10px;
        width: 200px;
        height: 40px;
        font-size: 20px;
        border-radius: 5px;
        text-decoration: none;
        a, span { line-height: normal; }
    }
    blockquote {
        color: red;
        font-size: 14px;
    }
}
.main-container-fixed {
    // position: absolute;
    // top: 50px;
    // margin-top: 50px;
    // .acad-time {
    //     margin-top: 20px;
    //     color: #AAA;
    // }
    .container-col {
        // border-left: 1px solid white;
        // height: 100%;

        .col-head {
            color: white;
        }
        &:first-child {
            .col-head { 
                background: linear-gradient(to right, $lighten-3, $lighten-1);
                h4:after {
                    border-left-color: $lighten-1;
                }

                h4:before {
                    display: none;
                }
            }
            border-left: 0px;
        }

        &:nth-child(2) {
            .col-head { 
                background: linear-gradient(to right, $lighten-3, $lighten-1);
                h4:after {
                    border-left-color: $lighten-1;
                }
            }
        }

        &:last-child {
            .col-head { 
                background: linear-gradient(to right, $lighten-3, $lighten-0);
                h4:after {
                    display: none;
                }
            }
        }

        .col-head {
            // border-bottom: 1px solid white;
            // background: $head-color;
            // color: white;
            height: 40px;

            h4:after {
                content: " "; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: 20px solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: 20px solid transparent;
                border-left: 10px solid;
                position: absolute;
                // top: 50%;
                // margin-top: -20px; 
                top: 0px;
                left: 100%;
                z-index: 2; 
            }
            h4:before {
                content: " "; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: 22px solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: 22px solid transparent;
                border-left: 11px solid white;
                position: absolute;
                // top: 50%;
                // margin-top: -20px; 
                top: -2px;
                left: 0px;
                z-index: 1; 
            }

        }
    }
    


    .ctn-course-list {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .course-table {
            border: none;
            td {
                vertical-align: top;
                .remove-course-btn {
                    border: none;
                    background: transparent;
                    &:focus { outline: none; }
                    i { color: #dddddd; }
                }
                .remove-course-btn:focus {
                    outline: none;
                }
            }
            button:hover i { color: $sf-red; }
            tr.ui-sortable-helper {
                // background: white;
                // width: 100% !important;
                // border: 1px solid #dddddd;
                // td:nth-child(4) { border-right: none; }
                td:nth-child(2), td:nth-child(3), td:nth-child(4) {
                    background: white;
                }
            }
            tr.ui-sortable-helper:hover i { color: #dddddd; }
            td:first-child {
                width: 30px;
                min-width: 30px;
                max-width: 30px;
                cursor: move;
                background: lighten(#dddddd, 5%);
            }

            td:nth-child(2) {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
                border-right: none;

            }
            // td:nth-child(3) {
            //     width: 140px;
            //     border-left: none;
            //     border-right: none;
            // }
            td:nth-child(3) {
                // display: block;
                // width: inherit;
                // min-width: 120px;
                // max-width: 120px;
                // white-space: nowrap;
                // text-overflow: ellipsis;
                // overflow: hidden;

                border-right: none;
                border-left: none;
                .index-btn {
                    vertical-align: top;
                    height: auto;
                    margin: 2px;
                    &:focus {
                        outline: none;
                    }
                    &:not(.btn-success) {
                        background: rgba(0,0,0,0);
                        color: #AAA;
                    }
                    &:not(.btn-success):hover {
                        background: #eee;
                    }
                }
                // .index-btn:focus {
                //     outline: none;
                // }
                // .index-btn:not(.btn-success) {
                //     background: rgba(0,0,0,0);
                //     color: #AAA;
                // }
            }
            td:nth-child(4) {
                width: 80px;
                min-width: 80px;
                max-width: 80px;
                border-left: none;
                text-align: right;
                .btn-hi {
                    // padding-left: 0;
                    // padding-right: 0;
                    border: none;
                    // border-color: #dddddd;
                    // background: transparent;
                    &:focus { 
                        outline: none; 
                    }
                    &:not(.btn-success) {
                        background: transparent;
                    }
                    .btn-hi-show {
                        // color: green;
                        color: white;
                    }
                    .btn-hi-hide {
                        color: #eee;
                    }
                    &:not(.btn-success) .btn-hi-hide-hl {
                        color: #aaaaaa;
                    }
                }
            }

            td, th {
                text-align: center;
            }
            td:nth-child(3) {
                text-align: left;
            }
        }
    }
    // .alert {
    //     padding: 5px;
    //     padding-left: 15px;
    // }
    // .find-btn {
    //     margin-bottom: 15px;
    // }
    // .au-btn:focus {
    //     outline: none;
    // }
    // .au-btn:not(.btn-success) {
    //     background: rgba(0,0,0,0);
    //     color: #AAA;
    // }
    .result-col {
        .result-count-badge {
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 5px;
            background: white;
            color: $sf-red;
            border-radius: 7px;
            font-size: 16px;
        }
        .no-result-message {
            line-height: 150%;
        }
        
        .result-table {
            margin-bottom: 0px;
            td {text-align: center;}

            td:first-child {
                width: 40px;
                min-width: 40px;
                max-width: 40px;
                background: lighten(#dddddd, 5%);
            }
        }
    }

}

html {
    @media(max-width:767px){
        .main-container-fixed {
            // margin-top: 273px;
            .container-col .col-head {
                h4:before { display: none; }
                h4:after { display: none; }
            }
            .course-pref-col {
                .ctn-course-list .course-table td:nth-child(3){
                    // width: 120px;
                    width: inherit;
                }
                .ctn-course-list {
                    // overflow-x: hidden;
                    // overflow-y: auto;
                    .course-table {
                        border: none;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        tbody:first-child {
                            tr {
                                border: none;
                            }
                            td { 
                                background: transparent; 
                                border: none;
                                text-align: center;
                            }
                            border: none;
                        }
                    }
                    .ctn-find-btn {
                        margin-bottom: 15px;
                    }
                }
                .ctn-find-btn {
                    margin-bottom: 10px;
                }
            }

            .result-col {
                .ctn-result-list {
                    // overflow-x: hidden;
                    // overflow-y: auto;
                    .result-table {
                        border: none;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        tbody:first-child {
                            tr {
                                border: none;
                            }
                            td { 
                                background: transparent; 
                                border: none;
                                text-align: center;
                            }
                            border: none;
                        }
                    }
                }
            }
        }
    }
    @media(min-width:768px){
        height: 100%;
        // max-height: 100%;
        .ng-scope {
            height: 100%;
        }

        .main-container-fixed {
            display: table;
            height: 100%;
            width: 100%;
            // -moz-box-sizing: border-box;
            // box-sizing: border-box;
            // table-layout: fixed; 
            .main-container-tr {
                display: table-row;
                height: 100%;
                width: 100%;
                .container-col {
                    height: 100%;
                    // max-height: 100%;
                    display: table-cell;
                    float: none;
                }
                .course-pref-col {
                    min-width: 300px;
                    max-width: 300px;
                    width: 300px;
                    position: relative;
                    .col-head {
                        // position: absolute;
                        // height: 40px;
                        // top: 0; left: 0;
                    }
                    .ctn-course-table-head,
                    .ctn-course-adder, 
                    .ctn-course-list,
                    .ctn-find-btn-fixed,
                    .ctn-alert,
                    .border-grad {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    .ctn-course-adder {
                        z-index: 2;
                        position: absolute;
                        top: 40px; left: 0;
                        // background: yellow;
                        margin-top: 0px;
                        width: 100%;
                        .course-input {
                            margin-top: 10px;
                        }
                    }
                    .ctn-course-table-head {
                        z-index: 2;
                        position: absolute;
                        top: 45px;
                        left: 0;
                        width: 100%;
                        .course-table-head {
                            width: 100%;
                            tbody {
                                width: 100%;
                            }
                            td:first-child {
                                width: 30px;
                                min-width: 30px;
                                max-width: 30px;
                            }
                            td:nth-child(2) {
                                width: 100px;
                                min-width: 100px;
                                max-width: 100px;
                            }
                            td:nth-child(3) {
                                width: 100%;
                            }
                            td:nth-child(4) {
                                width: 80px;
                                min-width: 80px;
                                max-width: 80px;
                            }
                            tr {
                                border: none;
                            }
                            td { 
                                background: transparent; 
                                border: none;
                                text-align: center;
                            }
                            border: none;
                        }
                    }
                    .ctn-course-list {
                        z-index: 1;
                        position: absolute;
                        // margin-top: 94px;
                        margin-top: 80px;
                        height: auto;
                        top: 0;
                        bottom: 0;
                        left: 0; 
                        right: 0;
                        margin-bottom: 54px;
                        // margin-bottom: 15px;

                        overflow-y: hidden;
                        overflow-x: hidden;

                        .course-table {
                            margin-bottom: 0px;

                            // tbody:first-child {
                            //     .tr-head-float {
                            //     }
                            //     .tr-head-fixed {
                            //         position: absolute;
                            //         width: 100%;
                            //         td:nth-child(3) {
                            //             width: 100%;
                            //         }
                            //     }
                            // }
                        }
                    }
                    .border-grad {
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        div {
                            display: block;
                            width: 100%;
                            height: 10px;
                        }
                        padding-right: 14px;
                    }
                    .border-grad-top {
                        top: 80px;
                        left: 0;
                        div {
                            background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
                        }
                    }
                    .border-grad-btm {
                        bottom: 15px;
                        left: 0;
                        div {
                            background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
                        }
                    }
                    .ctn-find-btn {
                        height: 54px;
                        width: 100%;
                        // background: yellow;
                        button {
                            margin: 0;
                            margin-top: 10px;
                        }
                    }
                    .ctn-find-btn-fixed {
                        position: absolute;
                        z-index: 2;
                        bottom: 0px; left: 0;
                    }
                    .ctn-find-btn-float {
                        padding-left: 0;
                        padding-right: 0;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        height: auto;
                    }
                    // background: #EEE;
                    // white-space:nowrap;
                }
                .result-col {
                    .ctn-result-table-head,
                    .ctn-result-list,
                    .border-grad {
                        padding-left: 15px;
                        padding-right: 15px;
                    }

                    .ctn-result-table-head {
                        z-index: 2;
                        position: absolute;
                        top: 45px;
                        left: 0;
                        width: 100%;
                        .result-table-head {
                            width: 100%;
                            tbody {
                                width: 100%;
                            }
                            td:first-child {
                                width: 40px;
                                min-width: 40px;
                                max-width: 40px;
                            }
                            tr {
                                border: none;
                            }
                            td { 
                                background: transparent; 
                                border: none;
                                text-align: center;
                            }
                            border: none;
                        }
                    }
                    .ctn-result-list {
                        z-index: 1;
                        position: absolute;
                        // margin-top: 94px;
                        margin-top: 80px;
                        height: auto;
                        top: 0;
                        bottom: 0;
                        left: 0; 
                        right: 0;
                        // margin-bottom: 400px;
                        margin-bottom: 10px;

                        overflow-y: hidden;
                        overflow-x: hidden;
                    }
                    .border-grad {
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        div {
                            display: block;
                            width: 100%;
                            height: 10px;
                        }
                        padding-right: 14px;
                    }
                    .border-grad-top {
                        top: 80px;
                        left: 0;
                        div {
                            background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
                        }
                    }
                    .border-grad-btm {
                        bottom: 10px;
                        left: 0;
                        div {
                            background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
                        }
                    }
                }
                // .result-detail-col {
                //     // background: #999;
                // }
            }
        }
    }

    @media(min-width:1201px){
        .main-container-fixed {
            width: 100%;
        }
    }
}
