
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
// $fa-font-path: "/bower_components/font-awesome/fonts/";
// @import "fontawesome/scss/font-awesome";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    // padding-top: 20px;
    // padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    // padding-left: 15px;
    // padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
// .header h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
// }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.btn-full {
    width: 100%;
}

.auth-panel, .profile-panel {
    width: 500px;
    margin-top: 50px;

    @media(max-width:767px){
        margin-top: 273px;
    }
}

$placeholder-color: #ddd;

::-webkit-input-placeholder { /* WebKit browsers */
    color: $placeholder-color !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholder-color;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholder-color;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $placeholder-color;
}

.main-container-fixed {
    @media(max-width:767px){
        margin-top: 273px;
    }
    @media(min-width:768px){
        width: 1000px;
    }
    @media(min-width:992px){
        width: 100%;
    }
    @media(min-width:1200px){
        width: 100%;
    }

    // position: absolute;
    // top: 50px;
    margin-top: 50px;
    .container-col {
        border-left: 1px solid #CCC;
        height: 100%;
    }
    .col-head {
        border-bottom: 1px solid #CCC;
        background: #e5e5e5;
    }


    .course-input {
        margin-top: 5px;
        // input[placeholder] {
        //     color: #CCC !important;
        // }
    }

    .au-btn:not(.btn-warning) {
        background: white;
        color: #AAA;
    }

    .autype-row {
        margin-top: 5px;
    }

    .add-course-btn {
        margin-top: 10px;
    }

    .pref-course-row {
        margin-bottom: 10px;
        .pref-course-index {
            display:table-cell;
            vertical-align:middle;
            float:none;
            background: #e5e5e5;
            cursor: move;
        }
        .pref-course-info {
            margin-top: 5px;
            display:table-cell;
            vertical-align:middle;
            float:none;
            padding-bottom: 5px;
            padding-top: 5px;

        }
        .pref-course-remove {
            border-radius: 0px 2px 2px 0px;
        }
        .au-checked {
            background: #ac4536;
        }
    }

}

