$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "compass";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$placeholder-color: #ddd;

::-webkit-input-placeholder { /* WebKit browsers */
    color: $placeholder-color !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholder-color;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholder-color;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $placeholder-color;
}

$sf-red: #ac3627;
$lighten-0: lighten($sf-red, 5%);
$lighten-1: lighten($sf-red, 10%);
$lighten-2: lighten($sf-red, 15%);
$lighten-3: lighten($sf-red, 23%);

.auth-panel, .profile-panel{
    width: 500px;
    margin-top: 50px;

    @media(max-width:767px){
        margin-top: 273px;
    }
}

body {
    overflow: hidden;
    scroll: none;
}


.home-panel {
    width: 560px;
    ul, li { list-style-type: circle; }
    * { line-height: 150%; }
    .bookmarklet {
        width: 200px;
        height: 40px;
        font-size: 20px;
        border-radius: 5px;
        text-decoration: none;
        a, span { line-height: normal; }
    }
    blockquote {
        color: red;
        font-size: 14px;
    }
}

.main-container-fixed {
    .loading-cover {
        position: absolute;
        z-index: 100;
        height: 100%;
        width: 100%;
        background: #eeeeee;
    }

    .container-col {
        // column header & arrow styling 
        .col-head {
            height: 40px;
            color: white;

            h4:after {
                content: " "; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: 20px solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: 20px solid transparent;
                border-left: 10px solid;
                position: absolute;
                // top: 50%;
                // margin-top: -20px; 
                top: 0px;
                left: 100%;
                z-index: 2; 
            }
            h4:before {
                content: " "; 
                display: block; 
                width: 0; 
                height: 0;
                // border-top: 22px solid transparent;
                // border-bottom: 22px solid transparent;
                // border-left: 11px solid white;
                // top: -2px;
                border-top: 20px solid transparent;           
                border-bottom: 20px solid transparent;
                border-left: 10px solid white;
                position: absolute;
                top: 0px;
                // top: 50%;
                // margin-top: -20px; 

                left: 0px;
                z-index: 1; 
            }
        }

        &.panel-left-col .col-head{
            background: linear-gradient(to right, $lighten-3, $lighten-1);
            h4:after {
                border-left-color: $lighten-1;
            }
            h4:before {
                display: none;
            }
            small {
                color: white;
                // transition: ease-in 0.3s;
                // font-weight: thin;
                font-size: 14px;
                &:hover {
                    // font-weight: bold;
                    font-size: 16px;
                }
            }
            // border-left: 0px;
        }

        &.panel-right-col .col-head {
            background: linear-gradient(to right, $lighten-3, $lighten-1);
            h4:after {
                display: none;
            }
            // h4:after {
            //     border-left-color: $lighten-1;
            // }
        }
    }
    
    .course-pref-col {
        .ctn-course-list {
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .course-table {
                border: none;
                tr.course-filter-disabled {
                    td { opacity: 0.45; }
                    td:first-child { opacity: 1; color: rgba(51, 51, 51, 0.45); }
                }
                td {
                    vertical-align: top;
                    .remove-course-btn {
                        border: none;
                        background: transparent;
                        &:focus { outline: none; }
                        i { color: #dddddd; }
                    }
                    .remove-course-btn:focus {
                        outline: none;
                    }
                }
                tr.ui-sortable-helper {
                    // background: white;
                    // width: 100% !important;
                    // border: 1px solid #dddddd;
                    // td:nth-child(4) { border-right: none; }
                    td:nth-child(2), td:nth-child(3), td:nth-child(4) {
                        background: white;
                    }
                }
                tr.ui-sortable-helper:hover i { color: #dddddd; }

                td:first-child {
                    width: 30px;
                    min-width: 30px;
                    max-width: 30px;
                    cursor: move;
                    background: lighten(#dddddd, 5%);
                }

                td:nth-child(2) {
                    width: 100px;
                    min-width: 100px;
                    max-width: 100px;
                    border-right: none;
                }
                td:nth-child(3) {
                    text-align: center;
                    width: 30px;
                    min-width: 30px;
                    max-width: 30px;

                    border-right: none;
                    border-left: none;

                    .index-btn {
                        vertical-align: top;
                        height: auto;
                        margin: 2px;
                        &:focus {
                            outline: none;
                        }
                        &:not(.btn-success) {
                            background: rgba(0,0,0,0);
                            color: #AAA;
                        }
                        &:not(.btn-success):hover {
                            background: #eee;
                        }
                    }
                }
                td:nth-child(4) {
                    // display: block;
                    // width: inherit;
                    // min-width: 120px;
                    // max-width: 120px;
                    // white-space: nowrap;
                    // text-overflow: ellipsis;
                    // overflow: hidden;

                    border-right: none;
                    border-left: none;
                    .index-btn {
                        vertical-align: top;
                        height: auto;
                        margin: 2px;

                        &:focus {
                            outline: none;
                        }
                        &:not(.btn-success) {
                            background: rgba(0,0,0,0);
                            color: #aaa;
                        }
                        &:not(.btn-success, .select-preview-positive):hover {
                            background: #eee;
                        }

                        &.select-preview-positive {
                            border-color: rgb(92, 184, 92);
                            background: rgb(92, 184, 92);
                            color: white;
                            &:active {
                                background: rgb(92, 184, 92);
                                color: white;
                            }
                        }

                        &.select-preview-negative {
                            border-color: rgba(0,0,0,0.03);
                            background: rgba(0,0,0,0.03);
                            color: #aaa;
                        }
                    }
                    // .index-btn:focus {
                    //     outline: none;
                    // }
                    // .index-btn:not(.btn-success) {
                    //     background: rgba(0,0,0,0);
                    //     color: #AAA;
                    // }
                }
                td:nth-child(5) {
                    width: 40px;
                    min-width: 40px;
                    max-width: 40px;
                    border-left: none;
                    text-align: right;
                    button:hover i { color: $sf-red; }
                    .btn-hi {
                        // padding-left: 0;
                        // padding-right: 0;
                        border: none;
                        // border-color: #dddddd;
                        // background: transparent;
                        &:focus { 
                            outline: none; 
                        }
                        &:not(.btn-success) {
                            background: transparent;
                        }
                        .btn-hi-show {
                            // color: green;
                            color: white;
                        }
                        .btn-hi-hide {
                            color: #eee;
                        }
                        &:not(.btn-success) .btn-hi-hide-hl {
                            color: #aaaaaa;
                        }
                    }
                }

                td, th {
                    text-align: center;
                }
                td:nth-child(4) {
                    text-align: left;
                }
            }
        }

        .ctn-course-table-head {
            width: 100%;
            .course-table-head {
                width: 100%;
                tbody {
                    width: 100%;
                }
                td:first-child {
                    width: 30px;
                    min-width: 30px;
                    max-width: 30px;
                }
                td:nth-child(2) {
                    width: 100px;
                    min-width: 100px;
                    max-width: 100px;
                }
                td:nth-child(3) {
                    width: 30px;
                    min-width: 30px;
                    max-width: 30px;
                }
                td:nth-child(4) {
                    width: 100%;
                }
                td:nth-child(5) {
                    width: 40px;
                    min-width: 40px;
                    max-width: 40px;
                    cursor: pointer;
                }
                .popover {
                    width: 250px;
                    max-width: 250px;
                }
                td { 
                    background: transparent; 
                    text-align: center;
                }
                tr, td { border: none; }
                border: none;
            }
        }

        position: relative;
        .col-head {
        }
        .ctn-course-table-head,
        .ctn-course-adder, 
        .ctn-course-list,
        .ctn-btn-fixed,
        .ctn-alert,
        .border-grad {
            padding-left: 15px;
            padding-right: 15px;
        }
        
        .ctn-course-table-head {
            z-index: 2;
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
        }

        .ctn-course-list {
            z-index: 1;
            position: absolute;
            // margin-top: 94px;
            margin-top: 80px;
            height: auto;
            top: 0;
            bottom: 0;
            left: 0; 
            right: 0;
            margin-bottom: 54px;
            // margin-bottom: 15px;

            overflow-y: hidden;
            overflow-x: hidden;

            .course-table {
                margin-bottom: 0px;
            }
        }
        .border-grad {
            position: absolute;
            z-index: 2;
            width: 100%;
            div {
                display: block;
                width: 100%;
                height: 10px;
            }
            padding-right: 14px;
        }
        .border-grad-top {
            top: 80px;
            left: 0;
            div {
                background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
            }
        }
        .border-grad-btm {
            bottom: 15px;
            left: 0;
            div {
                background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
            }
        }
        .ctn-btn {
            height: 54px;
            width: 100%;
            // background: yellow;
            button {
                margin: 0;
                margin-top: 10px;
            }
        }
        .ctn-btn-fixed {
            position: absolute;
            z-index: 2;
            bottom: 0px; left: 0;
        }
        .ctn-btn-float {
            padding-left: 0;
            padding-right: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            height: auto;
        }
    }

    .result-col {
        // RESULT
        .result-count-badge {
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 5px;
            background: white;
            color: $sf-red;
            border-radius: 7px;
            font-size: 16px;
        }

        .no-result-message {
            line-height: 150%;
        }
        
        // .ctn-result-table-head {
        //     .result-table-head {
        //         width: 100%;
        //         table-layout: fixed;
        //         tbody {
        //             width: 100%;
        //             table-layout: fixed;
        //         }
        //         td:first-child {
        //             width: 50px;
        //             min-width: 50px;
        //             max-width: 50px;
        //         }
        //         td { 
        //             background: transparent; 
        //             text-align: center;

        //             white-space:nowrap; 
        //             overflow:hidden; 
        //             text-overflow: ellipsis;
        //         }
        //         &, tr, td {
        //             border: none;
        //         }
        //     }
        // }
        
        .ctn-result-list {
            width: 100%;
            .result-table {

                width: 100%;
                table-layout: fixed;
                border :none;
                cursor: default;
                thead {
                    border: none;
                    table-layout: fixed;

                    td:first-child {
                        width: 50px;
                        min-width: 50px;
                        max-width: 50px;
                        border: none;
                        
                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                    }
                    td { border-bottom: none; }

                    td:not(:first-child) {
                        border-top: 1px solid #dddddd;

                        text-align: center;
                        white-space:nowrap; 
                        overflow:hidden; 
                        text-overflow: ellipsis;
                    }
                }
                tbody {
                    border: none;
                    width: 100%;
                    table-layout: fixed;

                    td:first-child {
                        width: 50px;
                        min-width: 50px;
                        max-width: 50px;
                        background: transparent;
                        // background: lighten(#dddddd, 5%);
                        border: none;
                        cursor: n-resize;

                        -moz-user-select: none;
                        -khtml-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        position: relative;
                        div {
                            position: absolute;
                            width: 100%;
                            top: -30px;
                            p {
                                margin: 0;
                                padding: 0;
                                height: 30px;
                                display: block;
                                font-size: 14px;
                                width: 40px;
                                text-align: center;
                                padding-top: 6px;
                                color: #ac4545;
                            }
                            button {
                                border: none;
                                height: 15px;
                                width: 40px;
                                display: block;
                                margin: 0;
                                padding: 0;
                                // font-size: 14px;
                                // margin: 2px;
                                &:focus {
                                    outline: none;
                                }
                                &:not(.btn-success) {
                                    background: rgba(0,0,0,0);
                                    color: #AAA;
                                }
                                &:not(.btn-success):hover {
                                    // background: #eee;
                                    // border: 1px solid #eeeeee;
                                }
                            }
                        }
                    }

                    td:not(:first-child) {
                        text-align: center;
                        white-space:nowrap; 
                        overflow:hidden; 
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .ctn-result-table-head,
        .ctn-result-list {
            padding-left: 15px;
            padding-right: 15px;
        }
        // .ctn-result-table-head {
        //     z-index: 2;
        //     position: absolute;
        //     top: 45px;
        //     left: 0;
        //     width: 100%;
            
        //     &, table, tbody, tr, td { 
        //         height: 30px;
        //     }
        // }
        .ctn-result-list {
            z-index: 1;
            position: absolute;
            // margin-top: 94px;
            margin-top: 10px;
            // height: auto;
            // top: 0;
            // bottom: 0;
            left: 0; 
            right: 0;
            // margin-bottom: 400px;
            // margin-bottom: 10px;
            overflow-y: hidden;
            overflow-x: hidden;

            .result-table {
                margin-bottom: 0px;
            }
        }


        // PLOT
        .ctn-result-plot {
            height: auto; //erase effect of ng-scope
            .ctn-plan-table-head {
                width: 100%;
                height: 30px;
                .plan-table-head {
                    height: 30px;
                    width: 100%;
                    table-layout: fixed;

                    tbody {
                        height: 30px;
                        width: 100%;
                        table-layout: fixed;
                        tr {
                            border: none;
                            height: 30px;
                        }
                        td:first-child {
                            // width: 10%;
                            width: 50px;
                            min-width: 50px;
                            max-width: 50px;
                            border: none;
                        }
                        td { 
                            height: 30px;
                            // width: 15%;
                            border: 1px solid #dddddd;
                            // border-bottom: none;
                            background: white;
                            text-align: center;
                            padding-left: 7px;
                            
                            white-space: nowrap; 
                            overflow: hidden; 
                            text-overflow: ellipsis;
                        }
                        border: none;
                    }
                    border: none;
                }
            }

            .ctn-plan-table-main {
                width: 100%;
                .plan-table-main {
                    width: 100%;
                    table-layout: fixed;

                    tbody {
                        width: 100%;
                        table-layout: fixed;

                        tr, td {
                            cursor: default;
                            height: 15px;
                            min-height: 15px;
                            max-height: 15px;
                            
                            // white-space: nowrap; 
                            // overflow: hidden; 
                            // text-overflow: ellipsis;
                        }


                        td:not(:first-child) {
                            position: relative;

                            // text-align: center;
                            div {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                font-size: 10px;
                                // padding-left: 5px;
                                // border: 2px solid dashed #333;;
                            }
                        }
                        td.starter-mark { 
                            overflow: hidden;
                            // background: cornsilk;
                            div:not(:first-child) {
                                // border-top: 1px solid #dddddd;
                            }
                            div { 
                                border: 0px solid #dddddd;
                                background: cornsilk;

                                position: absolute;
                                margin: 0;
                                padding: 0;
                                padding-top: 3px;

                                text-align: center;
                                white-space: nowrap;     
                                overflow: hidden; 
                                text-overflow: ellipsis;
                            }
                            div:hover {

                            }
                        }

                        td:first-child {
                            width: 40px;
                            min-width: 40px;
                            max-width: 40px;
                            // background: lighten(#dddddd, 5%);
                            background: transparent;
                            border: none;

                            text-align: center;
                            // white-space: nowrap;
                            position: relative;
                            span {
                                position: absolute;
                                top: -10px;
                                right: 5px;
                            }
                        }
                        td:nth-child(2) {
                            width: 10px;
                            min-width: 10px;
                            max-width: 10px;
                            border: none;
                            background: transparent;
                        }

                        tr:nth-child(even) td:nth-child(2) {
                            // border-bottom: 1px solid rgb(221, 221, 221);
                            border-top: 1px solid rgb(221, 221, 221);
                        }
                        // tr:last-child {
                        //     td { display: none; }
                        //     td:nth-child(1), td:nth-child(2) { display: table-cell; height: 0;}
                        // }

                        border: none;
                    }
                    border: none;
                }
            }

            .ctn-plan-table-head,
            .ctn-plan-table-main,
            .border-grad {
                padding-right: 15px;
                padding-left: 15px;
            }
            
            .ctn-plan-table-head {
                z-index: 2;
                position: absolute;
                top: 130px;
                left: 0;
                &, table, tbody, tr, td { 
                    height: 30px;
                }
            }

            .ctn-plan-table-main {
                z-index: 1;
                position: absolute;
                margin-top: 160px;
                height: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin-bottom: 15px;
                // margin-right: 30px;
                width: 100%;

                overflow-y: hidden;
                overflow-x: hidden;
                .plan-table-main {
                    margin-bottom: 0px;
                }
            }
            .border-grad {
                position: absolute;
                z-index: 2;
                width: 100%;
                div {
                    display: block;
                    width: 100%;
                    height: 10px;
                }
                // padding-right: 14px;
            }
            .border-grad-top {
                padding-left: 65px;
                top: 120px;
                left: 0;
                div {
                    background: linear-gradient(to bottom, #dddddd, rgba(255, 255, 255, 0));
                }
            }
            .border-grad-btm {
                bottom: 15px;
                left: 0;
                div {
                    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
                }
            }
        }
    }
}

html {
    @media(max-width:767px){
        .main-container-fixed {
            height: 100%;
            .main-container-tr {
                height: 100%;
                .container-col .col-head {
                    h4:before { display: none; }
                    h4:after { display: none; }
                }
                .container-col {
                    width: 100%;
                    position: absolute;
                    overflow: hidden;
                    float: none;
                }

                $left-panel-height: 50%;
                .course-pref-col {
                    height: $left-panel-height;
                }
                .result-plot-col {
                    height: $left-panel-height;
                }
                .result-col {
                    top: $left-panel-height;
                    height: 100% - $left-panel-height;
                }
            }
        }
    }
    @media(min-width:768px){
        height: 100%;
        .ng-scope {
            height: 100%;
        }

        .main-container-fixed {
            height: 100%;

            display: table;
            width: 100%;
            .main-container-tr {
                display: table-row;
                height: 100%;
                width: 100%;
                .container-col {
                    height: 100%;
                    display: table-cell;
                    float: none;
                }
            }
        }
    }
    @media(min-width:1201px){
        .main-container-fixed {
            width: 100%;
        }
    }
}