<!-- <div ng-include="'partials/navbar'"></div> -->

<div class="main-container-fixed">
    <div class="main-container-tr">
        <div 
            class="col-lg-5 col-md-5 col-sm-5 container-col course-pref-col" 
            ng-controller="FilterCtrl"
            filter-panel>

            <div class="col-head row text-center row"><h4>Filter</h4></div>
            <div class="hidden-xs ctn-course-table-head">
                <table class="course-table-head table table-striped table-condensed table-bordered">
                    <tbody>
                        <tr>
                            <td></td>
                            <td><strong>Courses</strong></td>
                            <td><strong>Indexes</strong></td>
                            <td><strong>Hidden</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <sf-perfect-scrollbar 
                class="hidden-xs ctn-course-list scroll-panel" 
                wheel-propagation="true" 
                wheel-speed="7" 
                ng-mousewheel="handleMouseWheel"
                update="updateScroll" >
                <table ng-show="(courseList.length > 0)" class="course-table table table-striped table-condensed table-bordered">
                    <!-- <tbody>
                        <tr class="tr-head-float">
                            <td></td>
                            <td><strong>Code</strong></td>
                            <td><strong>Select Index</strong></td>
                            <td><strong></strong></td>
                        </tr>
                        <tr class="tr-head-fixed">
                            <td></td>
                            <td><strong>Code</strong></td>
                            <td><strong>Select Index</strong></td>
                            <td><strong></strong></td>
                        </tr>
                    </tbody> -->
                    <tbody ui-sortable ng-model="courseList">
                        <tr ng-repeat="course in courseList track by course.code"  title="{{course.code + ' - ' + course.title + ' (' + course.aus +' AU)'}}">
                            <td><strong>{{$index + 1}}</strong></td>
                            <td><strong>{{course.code}}</strong></td>
                            <td> 
                                <button 
                                    ng-repeat="index in course.indexes"
                                    class="index-btn btn btn-xs"
                                    ng-class="{'btn-success': index.selected}"
                                    ng-show="index.visible || course.showHiddenIndex"
                                    ng-click="toggleSelected(course, $index)">
                                    {{index.code}}
                                </button>
                            </td>
                            <td title="Click to toggle">
                                <button 
                                    ng-click="toggleHiddenIndex(course)" 
                                    ng-disabled="course.hiddenIndexCount == 0" 
                                    ng-class="{'btn-success': course.showHiddenIndex}"
                                    class="btn btn-xs btn-hi">
                                    <span ng-show="course.showHiddenIndex" class="btn-hi-show">
                                        <!-- <strong>{{course.hiddenIndexCount}} </strong> -->
                                        <strong>{{course.hiddenIndexCount}}</strong>
                                    </span>
                                    <span ng-show="!course.showHiddenIndex" ng-class="{'btn-hi-hide-hl': course.hiddenIndexCount > 0}" class="btn-hi-hide">
                                        <strong>{{course.hiddenIndexCount}}</strong>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ctn-find-btn ctn-find-btn-float">
                    <button 
                        class="btn btn-success btn-block find-btn find-btn-float"
                        ng-disabled="buildingStarted"
                        ng-click="search()">
                        <strong>Find Possible Plans</strong>
                    </button>
                </div>
            </sf-perfect-scrollbar>

            <div class="hidden-xs border-grad border-grad-top"><div></div></div>
            <div class="hidden-xs border-grad border-grad-btm"><div></div></div>

            <div class="ctn-find-btn ctn-find-btn-fixed hidden-xs">
                <button 
                    class="btn btn-success btn-block find-btn find-btn-fixed"
                    ng-disabled="buildingStarted"
                    ng-click="search()">
                    <strong>Find Possible Plans</strong>
                </button>
            </div>


            <div class="visible-xs ctn-course-list">
                <table 
                    ng-show="(courseList.length > 0)" 
                    class="course-table table table-striped table-condensed table-bordered">
                    <tbody>
                        <tr>
                            <td></td>
                            <td><strong>Courses</strong></td>
                            <td><strong>Indexes</strong></td>
                            <td><strong>Hidden</strong></td>
                        </tr>
                    </tbody>
                    <tbody ui-sortable ng-model="courseList">
                        <tr ng-repeat="course in courseList track by course.code"  title="{{course.code + ' - ' + course.title + ' (' + course.aus +' AU)'}}">
                            <td><strong>{{$index + 1}}</strong></td>
                            <td><strong>{{course.code}}</strong></td>
                            <td> 
                                <button 
                                    ng-repeat="index in course.indexes"
                                    class="index-btn btn btn-xs"
                                    ng-class="{'btn-success': index.selected}"
                                    ng-show="index.visible || course.showHiddenIndex"
                                    ng-click="toggleSelected(course, $index)"
                                    ng-mousewheel="">
                                    {{index.code}}
                                </button>
                            </td>
                            <td title="Click to toggle">
                                <button 
                                    ng-click="toggleHiddenIndex(course)" 
                                    ng-disabled="course.hiddenIndexCount == 0" 
                                    ng-class="{'btn-success': course.showHiddenIndex}"
                                    class="btn btn-xs btn-hi">
                                    <span ng-show="course.showHiddenIndex" class="btn-hi-show">
                                        <strong>{{course.hiddenIndexCount}}</strong>
                                    </span>
                                    <span ng-show="!course.showHiddenIndex" ng-class="{'btn-hi-hide-hl': course.hiddenIndexCount > 0}" class="btn-hi-hide">
                                        <strong>{{course.hiddenIndexCount}}</strong>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ctn-find-btn ctn-find-btn-float">
                    <button 
                        class="btn btn-success btn-block find-btn find-btn-float"
                        ng-disabled="buildingStarted"
                        ng-click="search()">
                        <strong>Find Possible Plans</strong>
                    </button>
                </div>
            </div>
        </div>

        <div 
            class="col-lg-7 col-md-7 col-sm-7 container-col result-col" 
            ng-controller="ResultCtrl"
            result-panel> 
            <div class="row text-center col-head">
                <h4>
                    Possible Plans 
                    <span class="result-count-badge" ng-show="result.list">{{result.list.length}}</span>
                </h4>
            </div>

            <div
                class="hidden-xs ctn-result-table-head"
                ng-show="result.list.length > 0">
                <table class="result-table-head table table-striped table-condensed table-bordered">
                    <tbody>
                        <tr>
                            <td></td>
                            <td ng-repeat="code in result.courseOrder"><strong>{{code}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div 
                ng-show="result.list && result.list.length === 0"
                class="h5 text-center no-result-message">
                    <strong>Impossibruuu :(
                    <br>
                    Adding more Indexes or removing some Course might help.</strong>
            </div>

            <div ng-show="result.list.length > 0" class="hidden-xs border-grad border-grad-top"><div></div></div>
            <div ng-show="result.list.length > 0" class="hidden-xs border-grad border-grad-btm"><div></div></div>
            <sf-perfect-scrollbar
                class="hidden-xs ctn-result-list scroll-panel" 
                wheel-propagation="true" 
                wheel-speed="7" 
                ng-mousewheel="handleMouseWheel"
                update="updateScroll" >
                <table ng-show="(result.list.length > 0)" class="result-table table table-striped table-condensed table-bordered table-hover">
                    <tbody>
                        <tr ng-repeat="indexArr in result.list">
                            <td><strong>{{$index + 1}}</strong></td>
                            <td ng-repeat="index in indexArr">{{index}}</td>
                        </tr>
                    </tbody>
                </table>
            </sf-perfect-scrollbar>
            

            <div class="visible-xs ctn-result-list">

                <table ng-show="(result.list.length > 0)" class="result-table table table-striped table-condensed table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td></td>
                            <td ng-repeat="code in result.courseOrder"><strong>{{code}}</strong></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr ng-repeat="indexArr in result.list">
                            <td><strong>{{$index + 1}}</strong></td>
                            <td ng-repeat="index in indexArr">{{index}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
