<!-- <div class="header" ng-controller="NavbarCtrl">
    <ul class="nav nav-pills pull-right">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a>
        </li>
        <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a>
        </li>
        <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a>
        </li>
    </ul>
    <h3 class="text-muted">starfallx</h3>
</div> -->

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Starsfall</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                <a ng-href="{{item.link}}"><i ng-class="{{item.icon}}"></i> {{item.title}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="currentUser" ng-class="{active: isActive('/login')}">
                <a href="/login"><i class="fa fa-fw fa-sign-in"></i> Login</a>
            </li>
            <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}">
                <a href="/signup"><i class="fa fa-fw fa-send"></i> Sign up</a>
            </li>
            <li ng-show="currentUser" ng-class="{active: isActive('/profile')}">
                <a href="/profile">{{ currentUser.name }}</a>
            </li>
            <li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
                <a href="" ng-click="logout()">Logout <i class="fa fa-fw fa-sign-out"></i></a>
            </li>
        </ul>
    </div>
</nav>
